/* Shared Styles  */
* {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
}

.cursor {
  cursor: pointer;
}

.margin {
  margin: 0 auto;
  max-width: 1440px;
}

section {
  margin: 80px auto;
}

body {
  background-color: #f5f5f5;
}

/* Nav Styles starts here */
nav {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  height: 100px;
  align-items: center;
}

nav h1 {
  cursor: pointer;
}

nav button {
  color: #006a50;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 30px;
  border-radius: 10px;
  border: 2px solid #006a50;
  background-color: white;
}

nav button:hover {
  background-color: #006a50;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 30px;
  border-radius: 10px;
  border: 2px solid #006a50;
  color: white;
  transition: 0.1s;
}
/* Nav Styles ends here */

/* Banner style starts here */

header {
  background-color: #c0e8d6;
  max-width: 1440px;
  height: 560px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 24px;
}

.left-section {
  width: 48%;
  height: 326px;
  max-width: 622px;
}

.left-section p {
  color: rgba(14, 14, 14, 0.5);
  font-size: 1.5em;
  margin-bottom: 16px;
}

.left-section h1 {
  font-size: 3.6em;
  font-weight: 700;
  height: 201px;
  margin-bottom: 24px;
}

.left-section button {
  color: white;
  background-color: #006a50;
  padding: 17px 34px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.1em;
  border: none;
}

.left-section button:hover {
  background-color: white;
  color: #006a50;
  padding: 17px 34px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.1em;
  border: none;
  transition: 0.2s;
  border: 1px solid rgb(88, 88, 88);
}

.right-section {
  width: 48%;
  height: 400px;
  max-width: 470px;
}
/* Banner style ends here */

/* pillars-section style  starts */
.pillars-section {
  margin: 80px auto;
}

.pillars-section h2 {
  margin-bottom: 32px;
  font-size: 2.5em;
}

.parent_div {
  display: flex;
  justify-content: space-between;
}

.child_div {
  width: 252px;
  height: 194px;
  justify-content: center;
  align-items: center;
  padding: 24px;
  border: 1px solid #dbdbdb;
  background-color: white;
  border-radius: 16px;
}

.child_div:hover {
  scale: calc(1.08);
  transition: 0.2s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}
.child_div img {
  width: 64px;
  height: 64px;
}

.child_div h3 {
  font-size: 1.25em;
  font-weight: 700;
  margin: 24px 0 12px 0;
  color: #3e3e3e;
}

.child_div p {
  color: #565656;
}
/* pillars-section style end */

/* Vision of Future style starts here  */
.vision-cards {
  display: flex;
  justify-content: space-between;
}

.vision {
  margin-bottom: 40px;
}

.vision h2 {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 2.5em;
}

.vision p {
  margin-bottom: 32px;
}

.vision-card {
  width: 346px;
  height: 261px;
  align-items: center;
  padding: 32px;
  border-radius: 16px;
}

.vision-card:hover {
  transition: 0.2s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.vision-card img {
  width: 68px;
  height: 68px;
  margin-bottom: 24px;
}

.vision-card h3 {
  margin-bottom: 12px;
  color: #323a36;
}

.vision-card p {
  margin-bottom: 36px;
  color: #434f4a;
}

.vision-card button {
  width: 122px;
  height: 41px;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1em;
}

.vision-card button:hover {
  border: 1px solid #434f4a;
  transition: 0.25s;
  cursor: pointer;
  color: black;
}
/* Vision of Future style ends here  */

/* Speech section starts here  */
.speech {
  border: 1px solid #dbdbdb;
  background-color: white;
  padding: 48px 24px;
  border-radius: 16px;
  box-sizing: border-box;
  margin-top: 40px;
}

.speech p {
  color: #6e6e6e;
}
/* Speech section ends here  */

/* Your Opinion section style starts here  */
.opinion h2 {
  margin-bottom: 20px;
  font-size: 2.5em;
}
.table-container {
  padding: 32px;
  background-color: white;
  border-radius: 16px;
}

table {
  margin: 0 auto;
  text-align: left;
  /* border: 1px solid black; */
  width: 100%;
}

thead {
  background-color: #c0e8d6;
}

td {
  border: 1px solid #c0c0c0;
  padding: 24px 36px;
  font-weight: 600;
}

th {
  font-size: 1.25em;
  border: 1px solid #c0c0c0;
  padding: 24px 36px;
  font-weight: 600;
}

#option {
  text-align: center;
  align-items: center;
  padding: 10px;
}
select {
  background-color: #c0e8d6;
  border-radius: 5px;
  font-size: 1.1em;
  color: rgb(22, 21, 21);
}

/* Your Opinion section style ends here  */

/* Recent News Section style starts here */
.recent-news-container h2 {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 15px;
}
.recent-news-container p {
  margin-bottom: 20px;
  color: #535353;
}

.news-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px;
  background-color: white;
  gap: 24px;
  border-radius: 24px;
  margin-bottom: 20px;
}

.news-card:hover {
  transition: 0.2s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.news-card h3 {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 12px;
}

.news-icon {
  margin-bottom: 12px;
  width: 130px;
  height: 100%;
}

.news-card p {
  color: #565656;
}

.news-card h4 {
  color: #565656;
  margin-bottom: 8px;
}

.news-image {
  width: 400px;
  height: 300px;
  border-radius: 24px;
  width: 40%;
}

.news-description {
  max-width: 60%;
}

.news-card button {
  color: white;
  background-color: #006a50;
  padding: 17px 34px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.1em;
  border: none;
  border: 1px solid rgb(88, 88, 88);
  margin-top: 20px;
}

.news-card button:hover {
  background-color: white;
  color: #006a50;
  padding: 17px 34px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.1em;
  border: none;
  transition: 0.2s;
  border: 1px solid rgb(88, 88, 88);
}
/* Recent News Section style ends here */

/* Donate section styles */
.donate-section {
  text-align: center;
}

.donate-section h2 {
  font-weight: 700;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.donate-section p {
  color: #707070;
}

.money-container {
  display: flex;
  justify-content: space-between;
}

.money {
  padding: 40px;
  background-color: white;
  font-size: 2.5em;
  font-weight: 700;
  border-radius: 16px;
  margin-top: 24px;
  margin-bottom: 20px;
  border: 1px solid #c0c0c0;
  cursor: pointer;
}

.money:hover {
  background-color: #b7eed6;
  transition: 0.5s;
}

.donate-section input {
  display: block;
  width: 100%;
  text-align: center;
  height: 60px;
  font-size: 1.6em;
  font-weight: 600;
  border: 1px solid #c0c0c0;
  border-radius: 16px;
}

.donate-section button {
  color: white;
  background-color: #006a50;
  padding: 17px 34px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.1em;
  border: none;
  border: 1px solid rgb(88, 88, 88);
  margin-top: 20px;
  cursor: pointer;
}

.donate-section button:hover {
  background-color: white;
  color: #006a50;
  padding: 17px 34px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.1em;
  border: none;
  transition: 0.2s;
  border: 1px solid rgb(88, 88, 88);
}
/* Donate section styles ends here */

/* Newsletter section style starts here  */
 .newsletter {
  padding: 80px 265px;
  background-color: #c0e8d6;
  text-align: center;
  border-radius: 24px;
}

.newsletter h2 {
  font-weight: 700;
  font-size: 2.5em;
}

.newsletter p {
  color: #535353;
  margin-bottom: 16px;
  margin-top: 20px;
}

.subscribe-form {
  align-items: center;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.subscribe-form input {
  flex-grow: 1;
  padding: 15px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
}

.subscribe-form input::placeholder {
  color: #aaa;
}

.subscribe-form button {
  background-color: #047857;
  color: white;
  padding: 15px 25px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.subscribe-form button:hover {
  background-color: #065f46;
}  

/* Newsletter section style ends here  */

/* Footer style here  */
 footer {
  align-items: center;
  text-align: center;
  background-color: white;
  padding-bottom: 20px;
}

footer h1 {
  margin: 30px 0;
  padding-top: 20px;
}

footer hr {
  width: 1000px;
  margin: 0 auto;
  border-top: 1px solid #e6e6e6;
}

footer img {
  padding: 20px;
}

footer img:hover {
  scale: 1.2;
} 
